.wrapper {
    width: 350px;
    border: 2px solid #EC6E4C;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
}

.mainInfo {
    display: flex;
    align-items: center;
    margin: 20px;

    img {
        width: 70px;
    }

    p {
        margin-left: 18px;
        font-weight: 600;
        font-size: 26px;
        color: #EC6E4C;
    }
}

.position {
    font-size: 22px;
    margin: 0 0 0 30px;
}

.temperature {
    margin-left: 30px;
}

.description {
    margin: 0 30px 10px;
}